body{
    padding: 0px;
    margin: 0px;
    font-family: cursive;
}
*{
    padding: 0px;
    margin: 0px;
}
#cont{
    display: flex;
}
#contt{
    width: 70%;
    border-left: 5px solid yellow;
}
header{
    width: 30%;
    padding-bottom: 100px;
    background-color: black;
    color: white;
    border-right: 2px solid yellow;
}

li img{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
.psk{
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#me{
    width: 100%;
    height: 250px;
    padding: 0px;
    margin: 0px;
}
p{
    margin: 25px;
}
h1,h2{
    margin: 25px;
    color: yellow;
    border-bottom: 2px solid yellow;
    width: 80%;
}
li{
    margin: 25px;
    margin-left: 40px;

}

.cert{
    width: 30%;
    margin: 1.5%;
    height: 200px;
}
.cert:hover{
    width: 32%;
    height: 210px;
    margin: 0.5%
}
.site{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
button{
    font-family: cursive;
    margin: 20px;
    width:10%;
    height: 30px;
    background-color: #555;
    color: white;
    border: 1px solid #555;
    border-radius: 20px;
}
@media screen and (max-width: 500px) {
    #cont{
        display: inline;
    }
    header{
        width: 100%;
        border: none;
    }
    #contt{
        width: 100%;
        margin-left: 0px;
        border: none;
    }
    .cert{
        width: 46%;
        height: 150px;
    }
    .cert:hover{
        width: 48%;
        height: 160px;
        margin: 0.5%;
    }
    button{
        font-family: cursive;
        margin: 0px;
        width:100%;
        height: 30px;
        background-color: whitesmoke;
        color: gray;
        border: none;
        border-radius: 0px;
    }
}